---
---

@import "{{ site.theme }}";
.page-header {
  background-image: linear-gradient(120deg, #183153, #158fcc);
}

h1.project-name {
	font-family: 'Aldo Pro Book';
	font-size: 4.25rem;
	font-style: italic;
	line-height: 1.00em;
}

.main-content {
	h1 {
		color: #158fcc;
	}
	h2 {
		color: #158fcc;
	}
	h3 {
		color: #158fcc;
	}
}

@font-face {
    font-family: 'Aldo Pro Hairline';
    src: local('Aldo Pro Hairline'), local('Aldo-Pro-Hairline'),
        url('./../fonts/AldoPro-Hairline.woff2') format('woff2'),
        url('./../fonts/AldoPro-Hairline.woff') format('woff'),
        url('./../fonts/AldoPro-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Aldo Pro Light';
    src: local('Aldo Pro Light'), local('Aldo-Pro-Light'),
        url('./../fonts/AldoPro-Light.woff2') format('woff2'),
        url('./../fonts/AldoPro-Light.woff') format('woff'),
        url('./../fonts/AldoPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aldo Pro Book';
    src: local('Aldo Pro Book'), local('Aldo-Pro-Book'),
        url('./../fonts/AldoPro-Book.woff2') format('woff2'),
        url('./../fonts/AldoPro-Book.woff') format('woff'),
        url('./../fonts/AldoPro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aldo Pro Regular';
    src: local('Aldo Pro Regular'), local('Aldo-Pro-Regular'),
        url('./../fonts/AldoPro-Regular.woff2') format('woff2'),
        url('./../fonts/AldoPro-Regular.woff') format('woff'),
        url('./../fonts/AldoPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aldo Pro Medium';
    src: local('Aldo Pro Medium'), local('Aldo-Pro-Medium'),
        url('./../fonts/AldoPro-Medium.woff2') format('woff2'),
        url('./../fonts/AldoPro-Medium.woff') format('woff'),
        url('./../fonts/AldoPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aldo Pro Bold';
    src: local('Aldo Pro Bold'), local('Aldo-Pro-Bold'),
        url('./../fonts/AldoPro-Bold.woff2') format('woff2'),
        url('./../fonts/AldoPro-Bold.woff') format('woff'),
        url('./../fonts/AldoPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aldo Pro Black';
    src: local('Aldo Pro Black'), local('Aldo-Pro-Black'),
        url('./../fonts/AldoPro-Black.woff2') format('woff2'),
        url('./../fonts/AldoPro-Black.woff') format('woff'),
        url('./../fonts/AldoPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
